<div class="break-glass-container">
    <div class="sign" id="sign">Don't break</div>
</div>

<div class="broken-glass" id="brokenGlass"></div>
<audio id="glassSound" src="/public/audio/Break-glass.wav" preload="auto"></audio>