<div id="rails">
    <div class="lights"> <img src="/public/images/spotlights/licht.png" alt="spotlight on rails"> </div>
    <div class="lights"> <img src="/public/images/spotlights/licht.png" alt="spotlight on rails"> </div>
    <div class="lights"> <img src="/public/images/spotlights/licht.png" alt="spotlight on rails"> </div>
    <div class="lights"> <img src="/public/images/spotlights/licht.png" alt="spotlight on rails"> </div>
    <div class="lights"> <img src="/public/images/spotlights/licht.png" alt="spotlight on rails"> </div>
    <div class="lights"> <img src="/public/images/spotlights/licht.png" alt="spotlight on rails"> </div>
</div>