<div id="rails">
    <div class="lights"> <img src="/public/images/spotlights/light-off.png" alt="spotlight on rails"> <div class="beam"></div> </div>
    <div class="lights"> <img src="/public/images/spotlights/light-off.png" alt="spotlight on rails"> <div class="beam"></div> </div>
    <div class="lights"> <img src="/public/images/spotlights/light-off.png" alt="spotlight on rails"> <div class="beam"></div> </div>
    <div class="lights"> <img src="/public/images/spotlights/light-off.png" alt="spotlight on rails"> <div class="beam"></div></div>
    <div class="lights"> <img src="/public/images/spotlights/light-off.png" alt="spotlight on rails"> <div class="beam"></div> </div>
    <div class="lights"> <img src="/public/images/spotlights/light-off.png" alt="spotlight on rails"> <div class="beam"></div> </div>
    <div class="lights"> <img src="/public/images/spotlights/light-off.png" alt="spotlight on rails"> <div class="beam"></div> </div>
    <div class="lights"> <img src="/public/images/spotlights/light-off.png" alt="spotlight on rails"> <div class="beam"></div> </div>
</div>
