<div id="rails">
    <div class="lights"> <img src="/public/images/spotlights/licht.png" alt="spotlight on rails"> <div class="beam"></div> </div>
    <div class="lights"> <img src="/public/images/spotlights/licht.png" alt="spotlight on rails"> <div class="beam"></div> </div>
    <div class="lights"> <img src="/public/images/spotlights/licht.png" alt="spotlight on rails"> <div class="beam"></div> </div>
    <div class="lights"> <img src="/public/images/spotlights/licht.png" alt="spotlight on rails"> <div class="beam"></div></div>
    <div class="lights"> <img src="/public/images/spotlights/licht-2.png" alt="spotlight on rails"> <div class="beam"></div> </div>
    <div class="lights"> <img src="/public/images/spotlights/licht-2.png" alt="spotlight on rails"> <div class="beam"></div> </div>
    <div class="lights"> <img src="/public/images/spotlights/licht-2.png" alt="spotlight on rails"> <div class="beam"></div> </div>
    <div class="lights"> <img src="/public/images/spotlights/licht-2.png" alt="spotlight on rails"> <div class="beam"></div> </div>
</div>
