{% layout "server/layouts/base.liquid" %}

{% block content %}
<div class="container">
  <nav>
    <div class="logo-element"><a href="/"><img src="/public/images/logo-man-navbar.svg" alt="logo of DMMDH"></a></div>
      {% render '../../components/category-filter/category-filter.liquid', categories: categories %}
  <div>
    <button hidden><img src="" alt="search icon"></button>
    {% render '../../components/search-bar/search-bar.liquid' %}
  </div>
  </nav>

  {% render '../../components/text-slider/text-slider.liquid' %}

  {% comment %} Grid container {% endcomment %}
  <div class="projects-grid" id="dynamicGrid">

    {% comment %} Regular items {% endcomment %}
    {% for project in allData.projects %}
    {% render '../../components/project-card/project-card.liquid', project: project %}
    {% endfor %}

    {% for square in allData.squares %}
    {% render '../../components/project-item/project-item.liquid', item: square %}
    {% endfor %}

    {% comment %} Break Glass Cards {% endcomment %}
    {% for i in (1..3) %}
    <div class="break-glass-card" data-type="custom" data-component="break-glass" data-id="break-glass-{{ i }}">
      <div class="sign" data-break-glass-sign>Don't Break</div>
      <audio data-break-glass-audio src="/public/audio/Break-glass.wav" preload="auto"></audio>
    </div>
    {% endfor %}

    {% comment %} Full Width Components {% endcomment %}
    <div class="full-width-component theatre-slider-wrapper" data-type="full-width" data-id="theatre-1">
      <div class="full-width-content">
        {% render "../../components/theatre-slider/theatre-slider.liquid" %}
      </div>
    </div>

    <div class="crocodile-direct-wrapper" data-type="full-width" style="grid-column: 1 / -1;">
      {% render "../../components/full-width-crocodile/crocodile.liquid" %}
    </div>
  </div>

  {% comment %} Full-screen overlays - outside grid {% endcomment %}
  {% for i in (1..3) %}
  <div class="broken-glass-fullscreen" 
     data-break-glass-overlay 
     data-break-glass-id="break-glass-{{ i }}">
  </div>
  {% endfor %}
</div>

{% render '../../components/submarine/submarine.liquid' %}
{% render '../../components/pop-over/pop-over.liquid' %}
{% endblock %}