{% layout "server/layouts/base.liquid" %}



{% block content %}
<div class="container">
  <h1>Projects</h1>

  {% render '../../components/category-filter/category-filter.liquid' %}
  {% render '../../components/project-sorting/project-sorting.liquid' %}
  {% render '../../components/search-bar/search-bar.liquid' %}

  <div class="projects-grid">
    {% for project in projects %}

    {% render 'server/components/project-card/project-card.liquid', project: project %}

    {% endfor %}
  </div>

</div>

{% endblock %}