{% layout "server/layouts/base.liquid" %}



{% block content %}

  {% comment %} <a href="/projects">
    <h2>Naar projecten</h2>
  </a> {% endcomment %}
{%  render 'server/components/preloader/preload.liquid' %}
{% endblock %}