{% layout "server/layouts/base.liquid" %}



{% block content %}

{% render 'server/components/stage-lights/stage-lights.liquid'  %}
  
  {% comment %} <a href="/projects"> <h2>Naar projecten</h2></a> {% endcomment %}


{% endblock %}

