/* curtains */
body {
    overflow: hidden;
    --curtain-pattern: repeating-linear-gradient(90deg,
            #5a0000 0,
            #a00000 30px,
            #cc0000 40px,
            #720000 60px,
            #2d0000 80px,
            #420000 112px,
            #5a0000 120px,
            #a00000 124px,
            #a00000 132px,
            #5a0000 140px,
            #7b0000 164px,
            #a00000 175px,
            #a00000 180px,
            #a00000 200px,
            #7a0000 205px,
            #5a0000 220px);
    --custom-easing: cubic-bezier(0.140, 0.935, 0.240, 0.940);
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    justify-content: center;
    align-items: center;


    background-color: black;
}

.curtain-left {
    position: absolute;
    top: 0;
    left: 0;
    background-image: var(--curtain-pattern);
    box-shadow: inset -10px 0 20px rgba(0, 0, 0, 0.5);
    width: 49vw;
    height: 200vh;
    z-index: 3;
    clip-path: polygon(0% 100%,
            0% 0%,
            100% 0%,
            100% 50%,
            98% 57%,
            97% 63%,
            95% 68%,
            93% 74%,
            91% 79%,
            88% 83%,
            86% 86%,
            84% 89%,
            81% 94%,
            77% 96%,
            72% 99%,
            50% 100%);
}

.curtain-right {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    background-image: var(--curtain-pattern);
    width: 49vw;
    height: 200vh;
    z-index: 3;
    clip-path: polygon(100% 100%,
            100% 0%,
            0% 0%, 0% 50%,
            2% 57%,
            3% 63%,
            5% 68%,
            7% 74%,
            9% 79%,
            12% 83%,
            14% 86%,
            16% 89%,
            19% 94%,
            23% 96%,
            28% 99%,
            50% 100%);

}
.curtain-right-animation {
    animation: curtain-right-open 2s var(--custom-easing) forwards;
    }

.curtain-left-animation{
    animation: curtain-left-open 2s var(--custom-easing) forwards;
}

@keyframes curtain-left-open {
    0% {
        transform: translate(0vw, 0vh);
    }

    100% {
        transform: translate(-50vw, -100vh);
    }
}

@keyframes curtain-right-open {
    0% {
        transform: translate(0vw, 0vh);
    }

    100% {
        transform: translate(50vw, -100vh);
    }
}

/* peter pannekoek preloader */

.peter-container {
    position: relative;
    width: 40vmin;
    /* scales with screen size */
    aspect-ratio: 1 / 1.4;
    /* tweak this to match your head's shape */
    opacity: 0;
    transform: scale(0.4);
}

.peter-animation {
    animation: fade-in 1s ease-out 1s forwards;
}

.peter-container *,
.eye-white,
.eye-yellow {
    position: absolute;
}

.forehead {
    width: 100%;
    top: 0;
    z-index: 2;
}

.bottomhead {
    width: 64%;
    bottom: 4.5%;
    left: 14.5%;
}

.peter-eye-left,
.peter-eye-right {
    width: 20%;
    height: 5%;
    /* background-color: yellow; */
    top: 47%;
}

.peter-eye-left {
    left: 25%;
    /* transform: scaleX(-1); */
}

.peter-eye-right {
    right: 25%;
}

.eye-white {
    width: 100%;
    z-index: 0;
}

.eye-yellow {
    right: 30%;
    width: 35%;
    z-index: 1;
}

.peter-eye-left img:last-child,
.peter-eye-right img:last-child {
    height: 100%;
}

@keyframes fade-in {
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.curtain-light {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0.05), transparent 70%);
    z-index: 2;
    pointer-events: none;
}

#enterSite {
    z-index:5;
    background-color:#ff0000;
    color:white;
    border-radius:.25rem;
    border:none;
    padding: 1rem 2rem;
}

#enterSite:hover{
    background-color:darkred;
}