<aside>
  <h3>1</h3>
  <h3>2</h3>
  <h3>3</h3>
  <h3>4</h3>
  <h3>5</h3>
  <h3>6</h3>
  <h3>7</h3>
  <h3>8</h3>
  <h3>9</h3>
  <h3>10</h3>
  <h3>11</h3>
  <h3>12</h3>

</aside>
<main>
  <section class="staff">

    <div class="employee">
      <img src="" alt="">
      <div class="text"></div>
    </div>

    <div class="employee">
      <img src="" alt="">
      <div class="text"></div>
    </div>

    <div class="employee">
      <img src="" alt="">
      <div class="text"></div>
    </div>

  </section>

  <section class="about">
<div class="text">
  <h2>Over de Man(nen)</h2>
  <p>De mannen met de hamer zijn sinds 2000 jullie betrouwbare ,meedenkende bouwers en ontwerpers. Ons hart ligt bij decor rekwisieten en interieur. Wij werken voornamelijk met hout en staal en hebben onze eigen poule van specialisten en opgnemen. READ MORE...</p>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2438.0491221695!2d4.965540977325926!3d52.33325495003809!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5e1f6e4bebe5f%3A0xe886272703923bd!2sDe%20man%20met%20de%20hamer%20B.V.!5e0!3m2!1snl!2snl!4v1749629238932!5m2!1snl!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>

</main>